.admin-add-faculty-container {
  max-width: 500px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

button {
  width: 100%;
  margin-top: 20px;
  color: black;
}
